.limited {
    text-overflow: ellipsis;
    max-width: 10em;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
    display: inline-block;
}

.pt-spinner.big-spinner:not(.pt-svg-spinner) {
    width: 300px;
}
